<section data-ng-controller="HomeController" data-ng-init="featured();">
	 <div class="page-header">
	 	<h1>OneStopBuy</h1>
	 </div>
	 <!-- <span class="input-group-addon">Search:</span>
	 <input type="text" class="form-control" ng-model="search_term" id="submit_search" placeholder="Term Here">
	 <span class="input-group-btn">
	 	<button class="btn btn-primary" type="button" data-ng-click="search(search_term);">Search Now!</button>
	 </span>

	<div class="page-header">
		<h2>Item Results</h2>
	</div>
	<div class="list-group">
		<a data-ng-repeat="item in itemresults" data-ng-href="#!/items/{{item.id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="item.name"></h4>
		</a>
	</div>

	<div class="page-header">
		<h2>Auction Results</h2>
	</div>
	<div class="list-group">
		<a data-ng-repeat="auction in auctionresults" data-ng-href="#!/auctionitems/{{auction.id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="auction.name"></h4>
		</a>
	</div>		  -->
	 <!-- <div class="list-group">
	 <a href="#!/catbrowses/tennis" class="list-group-item">
	 	<h4>Tennis</h4>
	 </a>
	 </div>  -->

	 <div class="page-header">
	 	<h2> Featured Items </h2>
	 </div>
	 <div class="list-group">
	 	<a data-ng-repeat="item in featureditems" data-ng-href="#!/items/{{items.id}}" class="list-group-item">
	 		<h4 class="list-group-item-heading" data-ng-bind="item.name"></h4>
	 	</a>
	 </div>

	 <div class="page-header">
	 	<h2> Featured Auctions </h2>
	 </div>
	 <div class="list-group">
	 	<a data-ng-repeat="auction in featuredauctions" data-ng-href="#!/auctionitems/{{auctionitems.id}}" class="list-group-item">
	 		<h4 class="list-group-item-heading" data-ng-bind="auction.name"></h4>
	 	</a>
	 </div>
</section>