<section data-ng-controller="CatbrowsesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Catbrowses</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="catbrowse in catbrowses" data-ng-href="#!/catbrowses/{{catbrowse._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="catbrowse.created | date:'medium'"></span>
				by
				<span data-ng-bind="catbrowse.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="catbrowse.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!catbrowses.$resolved || catbrowses.length">
    	No Catbrowses yet, why don't you <a href="/#!/catbrowses/create">create one</a>?
    </div>
</section>