<section data-ng-controller="ItemsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="item.name"></h1>
	</div>
	<div class="thumbnail">
		<img class="img-responsive" src="{{item.image}}" alt="">
		<div class="caption-full">
			<h4 class="pull-right">Price: ${{item.price | number:2}}</h4>
			<h5 class="pull-right">Stock: {{item.stock}}</h5>
			<h4><a href="#">{{item.name}}</a></h4>
			<h5>Description: {{item.description}}</h5>
		</div>
	</div>
	<div class="input-group">
	<span class="input-group-btn">
	<button class="btn btn-primary" type="button" data-ng-click="buy();">Buy Now!</button>
	</span>
	</div>
	<div class="page-header">
		<h2>Reviews</h2>
	</div>
	<div data-ng-init="itemreviews(item.id)">
		<a data-ng-repeat="review in itemreviews" href="#" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="review.text"></h4>
			<small class="list-group-item-text">
			Posted on
			<span data-ng-bind="review.post_date"></span>
			by 
			<span data-ng-bind="review.poster"></span>
		</a>
		<!-- <h4 data-ng-repeat="review in itemreviews" data-ng-bind="review.text"></h4> -->
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == item.user._id))">
		<a class="btn btn-primary" href="/#!/items/{{item.id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<!-- <small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="item.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="item.user.displayName"></span>
		</em>
	</small>
	<h3 data-ng-bind="item.description"></h3>
	Price: <h4 data-ng-bind="item.price"></h4>
	Stock: <h4 data-ng-bind="item.stock"></h4> -->
	<h4> </h4>
	<h4> </h4>
	<h4> </h4>
</section>
