<section data-ng-controller="AuctionitemsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Auctionitems</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="auctionitem in auctionitems" data-ng-href="#!/auctionitems/{{auctionitem.id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="auctionitem.created | date:'medium'"></span>
				by
				<span data-ng-bind="auctionitem.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="auctionitem.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!auctionitems.$resolved || auctionitems.length">
    	No Auctionitems yet, why don't you <a href="/#!/auctionitems/create">create one</a>?
    </div>
</section>