<section data-ng-controller="AuctionitemsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="auctionitem.name"></h1>
	</div>
	<div class="thumbnail">
		<img class="img-responsive" src="{{auctionitem.image}}" alt="">
		<div class="caption-full">
			<h4 class="pull-right">Current Bid: ${{auctionitem.current_bid | number:2}}</h4>
			<h4><a href="#">{{auctionitem.name}}</a></h4>
			<h5>Description: {{auctionitem.description}}</h5>

		</div>
	</div>
	<!-- <h5>Description: </h5>
	<h6 data-ng-bind="auctionitem.description"></h6>
	<h5>Current bid: </h5>
	<h6 data-ng-bind="auctionitem.current_bid"></h6> -->
	<div class="input-group">
	<span class="input-group-addon">$</span>
	<input type="text" class="form-control" ng-model="new_bid" id="submit_bid" placeholder="0.00">
	<span class="input-group-btn">
		<button class="btn btn-primary" type="button" data-ng-click="bid(new_bid);">Bid Now!</button>
	</span>
	</div>
	<div class="page-header">
		<h2>Reviews</h2>
	</div>
	<div data-ng-init="auctionreviews(item.id)">
		<a data-ng-repeat="review in auctionreviews" href="#" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="review.text"></h4>
			<small class="list-group-item-text">
			Posted on
			<span data-ng-bind="review.post_date"></span>
			by 
			<span data-ng-bind="review.poster"></span>
		</a>
		<!-- <h4 data-ng-repeat="review in itemreviews" data-ng-bind="review.text"></h4> -->
	</div>
	<!-- <div class="input-group">
	<input type="text" class="form-control" ng-model="searchTerm" id="submit_search" placeholder=" ">
	<span class="input-group-btn">
		<button class="btn btn-primary" type="button" data-ng-click="search(searchTerm);">Search!</button>
	</span>
	</div> -->
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user.username == auctionitem.buyer_name))">
		<a class="btn btn-primary" href="/#!/auctionitems/{{auctionitem.id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="auctionitem.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="auctionitem.buyer_name"></span>
		</em>
	</small>
</section>
